:root {
  --primary-color: #3ebe4e;
  --secondary-color: #098409;
  --light-color: #f3f3f3;
  --gray-color: #ccc;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --festivites-color: #ff9900;
  --soutenance-color: #333;
  --communique-color: #9966cc;
  --innovation-color: #0099ff;
  --alaune-color: #ff3333;
  --projet-color: #0099ff;
  --archives-color: #009900;
  --aides-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  line-height: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #444;
  background: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Karla', sans-serif;*/
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7;
  color: #000;
}

p {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  width: 148px;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  padding: 0.4rem 0.6rem;
  border-radius: 16px;
  margin-bottom: 0.1rem;
}

.category-festivites {
  background-color: var(--festivites-color);
}
.category-soutenances {
  background-color: var(--soutenance-color);
}
.category-communiques {
  background-color: var(--communique-color);
}
.category-innovations {
  background-color: var(--innovation-color);
}
.category-alaune {
  background-color: var(--alaune-color);
}
.category-projets {
  background-color: var(--projet-color);
}
.category-archives {
  background-color: var(--archives-color);
}
.category-aides {
  background-color: var(--aides-color);
  color: #000;
}

.card {
  padding: 0.5rem 0.7rem;
}

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: center;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

.text-primary {
  color: var(--primary-color);
  margin: 0.5rem 0;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-bold {
  font-weight: bold;
}

.btn {
  display: inline-block;
  width: auto;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  background: #333;
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
  transition: all 0.5s ease-in-out;
  color: var(--dark-color);
}

.btn-primary:hover {
  background: var(--secondary-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.6);
}

.btn-secondary {
  background-color: #ff9900;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  transition: all 0.9s ease-in-out;
  border-radius: 0;
}

.btn-secondary:hover {
  color: #fff;
  background: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.6);
}

.btn-block {
  display: block;
  margin: 0.7rem 0;
}

.py-1 {
  padding: 0.75rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.bg-dark {
  background: var(--dark-color);
}
.bg-light {
  background: #fff;
}
.bg-green {
  background: var(--secondary-color);
  color: #f4f4f4;
}

.article-heading {
  font-size: 1rem;
  padding: 0.4rem 0;
  text-transform: uppercase;
}

.list li {
  font-size: 0.95rem;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: dotted 0.5px var(--light-color);
  width: 90%;
}

.list li:last-child {
  border-bottom: none;
}

/* Navbar */
#main-navbar {
  background: #fff;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 999;
  /* Keep the background-color property */
}

#main-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-navbar .container .logo-search {
  display: flex;
  align-items: center;
}

#main-navbar .container form {
  margin-left: 0.7rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#main-navbar .container .logo-search form input {
  padding: 0.6rem;
  width: 150%;
  border: solid 1px var(--gray-color);
  border-radius: 2px;
}

#main-navbar .container .logo-search form input:hover,
#main-navbar .container .logo-search form input:focus {
  outline: none;
  border-color: var(--primary-color);
}

/* Input placeholder CSS style */

form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.95rem;
  color: #ccc;
}
form input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.95rem;
  color: #ccc;
}
form input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.95rem;
  color: #ccc;
}
form input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.95rem;
  color: #ccc;
}

/* Textarea Placeholder CSS Style */
textarea::-webkit-input-placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

/* Firefox 18- */
textarea:-moz-placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

/* Firefox 19+ */
textarea::-moz-placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

textarea:-ms-input-placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

textarea::placeholder {
  font-size: 0.95rem;
  color: #ccc;
}

#main-navbar .container .logo-search form a > i {
  position: absolute;
  top: 10px;
  left: 138%;
  bottom: auto;
  right: auto;
  color: #ccc;
}

#main-navbar .container .logo-search form a > i:hover {
  color: var(--primary-color);
}

#main-navbar .container ul {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#main-navbar .container ul li a {
  margin: 0 0.75rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #000;
}

#main-navbar .container ul li a:hover {
  color: var(--primary-color);
}

#main-navbar .container ul li a.current {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100% - 10px);
  }

  .article-heading {
    font-size: 0.8rem;
    margin-top: 0.7rem;
  }
  #main-navbar {
    position: relative;
  }
  #main-navbar .container {
    display: block;
    margin: 0 auto;
  }

  #main-navbar .container .logo-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #main-navbar .container .logo-search a > img {
    margin: 0.5rem 0;
  }

  #main-navbar .container .logo-search form {
    width: 100%;
    margin: 0 0.8rem;
  }

  #main-navbar .container .logo-search form input {
    width: inherit;
  }

  #main-navbar .container .logo-search form a > i {
    position: absolute;
    top: 10px;
    left: 94%;
    bottom: auto;
    right: auto;
    color: #ccc;
  }

  #main-navbar .container ul li {
    margin-top: 1rem;
  }

  #main-navbar .container ul li a {
    display: inline-block;
    padding: 0.6rem;
    margin: 0 0.4rem;
    color: #000;
    background: #eee;
  }

  #main-navbar .container ul li a.current {
    background: var(--primary-color);
    color: var(--light-color);
  }

  /* Input placeholder CSS style */

  form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.8rem;
    color: #ccc;
  }
  form input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.8rem;
    color: #ccc;
  }
  form input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.8rem;
    color: #ccc;
  }
  form input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.8rem;
    color: #ccc;
  }

  /* Textarea Placeholder CSS Style */
  textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
    color: #ccc;
  }

  /* Firefox 18- */
  textarea:-moz-placeholder {
    font-size: 0.8rem;
    color: #ccc;
  }

  /* Firefox 19+ */
  textarea::-moz-placeholder {
    font-size: 0.8rem;
    color: #ccc;
  }

  textarea:-ms-input-placeholder {
    font-size: 0.8rem;
    color: #ccc;
  }

  textarea::placeholder {
    font-size: 0.8rem;
    color: #ccc;
  }
}

/* Showcase */
#showcase {
  height: 75vh;
  width: 100%;
  color: #fff;
  padding: 2rem;
  background: #000;
  position: relative;
}

#showcase::before {
  content: "";
  background: #000 url("../images/showcase.png") no-repeat top center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

#showcase .showcase-container .showcase-content {
  z-index: 1;
  grid-column-start: 2;
}

#showcase .showcase-container .showcase-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75rem;
}

#showcase .showcase-container .showcase-content p {
  padding-top: 0.3rem;
  margin-bottom: 1rem;
  text-align: justify;
  text-align-last: left;
}

#showcase .showcase-container .showcase-content a {
  color: #f4f4f4;
  font-variant: small-caps;
  font-weight: 600;
}

#showcase .showcase-container .showcase-content .btn.btn-primary {
  float: right;
}

@media (max-width: 834px) {
  #showcase {
    height: 70vh;
  }

  #showcase:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  #showcase .showcase-container {
    grid-template-columns: 1fr;
  }

  #showcase .showcase-container .showcase-content h1 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }

  #showcase .showcase-container .showcase-content p {
    text-align: justify;
    text-justify: inter-word;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: calc(100% - 10px);
  }
  .btn {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  #showcase .showcase-container .showcase-content h1 {
    font-size: 1.5rem;
  }

  #showcase .showcase-container .showcase-content p {
    font-size: 0.875rem;
  }
}

@media (max-height: 600px) {
  .btn {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  #showcase .showcase-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  #showcase {
    height: 90vh;
  }

  #showcase::before {
    height: 100%;
  }
  #showcase .showcase-container .showcase-content h1 {
    font-size: 1.5rem;
  }
}

/* Article Home */
#home-article .container h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

#home-article .container .article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#home-article .container .article-container > :nth-child(odd) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
  grid-gap: 0.75rem;
  align-items: center;
}

#home-article .container .article-container > :nth-child(odd) div > div,
#home-article .container .article-container > *:nth-child(even) div > div {
  align-self: flex-start;
  position: absolute;
  top: 0.5rem;
  bottom: auto;
  left: auto;
  right: auto;
}

#home-article .container .article-container > *:nth-child(even) {
  grid-column: 3 / span 2;
}

#home-article .container .article-container > *:nth-child(even) img {
  margin-top: 0.3rem;
  display: block;
  max-height: 70px;
}

#home-article .container .article-container article {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home-article .container .article-container article p {
  margin-bottom: 0;
}

#home-article .article-container .card.bg-dark {
  color: var(--light-color);
}

#home-article .article-container .card.bg-dark > h3.article-heading a {
  color: var(--primary-color);
}

#home-article .article-container .card.bg-dark > h3.article-heading a:hover {
  color: var(--secondary-color);
}

@media (max-width: 834px) {
  .article-heading {
    margin-top: 0;
  }

  .container {
    max-width: calc(100% - 10px);
  }

  #home-article .container .article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
  }

  #home-article .container .article-container > :nth-child(odd) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 3;
  }

  #home-article .container .article-container > *:nth-child(even) {
    grid-column: 1 / span 3;
  }

  #home-article .container .article-container > :nth-child(odd) div > div,
  #home-article .container .article-container > *:nth-child(even) div > div {
    display: inline-block;
    position: relative;
  }

  #home-article .container .article-container article {
    position: static;
    align-items: center;
  }

  #home-article .container .article-container > :nth-child(odd) div > div,
  #home-article .container .article-container > *:nth-child(even) div > div {
    position: static;
  }

  #home-article .container .article-container > *:nth-child(even) p {
    margin-bottom: 0.4rem;
  }

  #home-article .container .article-container > *:nth-child(even) img {
    width: 50%;
    display: block;
    float: left;
  }

  #home-article .container .article-container > *:nth-child(even) img + p {
    float: right;
    width: 50%;
  }
}

@media (max-width: 500px) {
  #home-article .container .article-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  #home-article .container .article-container > :nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  #home-article .container .article-container > *:nth-child(even) {
    grid-column: 1;
  }

  #home-article .container .article-container > *:nth-child(even) img {
    width: 100%;
    float: none;
  }
}

/* About Page*/

#article,
#about {
  line-height: 1.5;
}
#about .page-container .about.card h1 {
  letter-spacing: -10;
  font-size: 1.3rem;
}

#about .page-container .about.card article p:last-child {
  margin-bottom: 1.5rem;
}

.sidebar article {
  margin-bottom: 1.5rem;
}

.sidebar article.card.bg-green h3 a {
  color: #eeeedd;
}

.sidebar article.card.bg-dark h3 a {
  color: var(--primary-color);
}

.sidebar article.card.bg-dark p {
  margin-bottom: 0;
}

.sidebar article.card.bg-dark p a {
  line-height: 1.9;
  color: #eeeedd;
}

.sidebar article.card.bg-dark p > a:hover {
  color: #ff9900;
}

@media (max-width: 500px) {
  .page-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Article Page*/
#article .page-container .card h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.6rem;
}

#article .page-container .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem 0;
  font-size: 1.1rem;
  background: #eee;
  padding: 1rem;
}

#article .page-container .meta i {
  margin-right: 0.3rem;
}

#article .page-container .writer {
  background: #eee;
  padding: 1rem 1rem 0;
  border: solid 1px #eee;
  border-radius: 2px;
}

#article .page-container .writer img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  margin-right: 0.5rem;
}

#article .page-container .writer h3 {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

#article .page-container .sidebar article {
  margin-bottom: 1rem;
}

#article .page-container .sidebar article h3.text-capitalize {
  font-size: 1.4rem;
  padding: 0.2rem;
}

#article .page-container .sidebar ul.list li {
  border-bottom: dotted 1px #333;
  width: 90%;
}

#article .page-container .sidebar ul.list li:first-child {
  margin-top: 0.5rem;
}

#article .page-container .sidebar ul.list li:last-child {
  border-bottom: none;
}

#article .page-container .sidebar ul.list li a {
  color: #000;
}

#article .page-container .sidebar ul.list li a:hover {
  color: #ff9900;
}

#article .page-container .sidebar ul.list li a i {
  border-radius: 50%;
}

@media (max-width: 834px) {
  .page-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .page-container > *:first-child {
    grid-row: 1 / span 3;
  }
}

@media (max-width: 500px) {
  #article .page-container .card h1 {
    font-size: 1rem;
  }

  #article .page-container .meta {
    float: left;
    padding: 0.5rem;
  }
}

/* Footer */
#main-footer {
  background: #333;
  color: #fff;
  padding: 1.5rem;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#main-footer a {
  color: var(--primary-color);
}

#main-footer a:hover {
  color: var(--light-color);
}

#main-footer img.logo {
  height: 42px;
}
#main-footer .footer-container .acem-news-fes-about p {
  margin-bottom: 0.75rem;
}

#main-footer .footer-container h4 {
  color: #fff;
  font-size: 1rem;
}

#main-footer .container form#contact-form input,
#main-footer .container form#contact-form textarea {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  border: solid #333 1px;
}

#main-footer .container form#contact-form textarea {
  resize: none;
}

#main-footer .container form#contact-form input:hover,
#main-footer .container form#contact-form textarea:hover,
#main-footer .container form#contact-form input:focus,
#main-footer .container form#contact-form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

#main-footer .container form#contact-form input[type="submit"] {
  color: var(--dark-color);
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 0;
}

#main-footer .container form#contact-form input[type="submit"]:hover {
  color: #f4f4f4;
}

#main-footer .container .author-copyright {
  background: #444;
  grid-column: 1 / span 3;
  text-align: center;
  padding: 0.3rem;
}

#main-footer .container .author-copyright p {
  margin-bottom: 2px;
}

@media (max-width: 500px) {
  #main-footer .footer-container {
    display: block;
  }

  .list li {
    width: 100%;
  }
}
